<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
    <script src="../../../lib/html5shiv/html5shiv-printshiv.min.js"></script>
    <![endif]-->
  <title>更改队伍反馈状态</title>
  <link rel="stylesheet" href="../../../lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../../lib/jquery.validate-1.16/jquery.validate.css">
  <link rel="stylesheet" href="../../../css/common/font.css">
  <link rel="stylesheet" href="../../../lib/miniui/themes/default/miniui.css" />
  
  <link rel="stylesheet" href="../../../css/em/CommGroup/index.css" />
  <style>
    [v-cloak] {
    display:none !important;
  }
  </style>
</head>

<body>
  <div class="main-content" id="main" v-cloak>
    <div class="box box-main">
      <!-- <div class="box-header">
                <i class="title-vertical"></i>
                <div class="box-title text-color">
                    音频会议-会议查看
                    <label id="event" class="ml__50" style="font:bold 150%;color: red;"></label>
                    <div class="box-tools pull-right">
                       
                    </div>
                </div>
            </div> -->
      <div class="box-body">
        <div style="text-align: center; overflow-y: auto;overflow-x: hidden;height: 160px;">
          <div class="col-xs-12" v-for="item in items">
            <div class="col-xs-12">
              <div class="form-group">
                <div class="row">
                  <label class="control-label col-xs-4">第{{item.name}}批次 :</label>
                </div>

                <div class="col-xs-12" v-for="obj in item.list">
                  <label class="col-xs-6" id="mobileOrPhone" class="control-label">{{obj.teamName}}</label>
                  <button  type="button" class="btn btn-primary width__60 " style="width:60px" data ="obj.firemanGoID" @click="page.logic.singleCall(obj)">呼 叫</button>
                  <button  type="button" class="btn btn-primary width__60 " style="width:60px" :id="obj.firemanGoID" @click="page.logic.save(obj)">确 定</button>

                </div>
                <!-- <div class="col-xs-3" v-for="obj in item.list">

                  <button type="button" class="btn btn-primary " :id="obj.firemanGoID" @click="page.logic.save(obj)">确 定</button>

                </div> -->
              </div>
            </div>

          </div>
          <br>
        </div>
      </div>
    
      <div class="main-footer__dialog">
        <div class="row">
          <div class="text-center">

            <button type="button" class="btn btn-close btnClose"><i class="icon-close"></i> 返 回
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 全局js -->
  <script src="../../../lib/jquery/jquery.min.js"></script>
  <script src="../../../lib/bootstrap/js/bootstrap.min.js"></script>
  <!-- 自定义js -->
  <!-- JQ 表单序列化 -->
  <!--公共js-->
  <script src="../../../js/common/CommonEnum.js"></script>
  <script src="../../../js/common/ecs-util.js"></script>
  <script src="../../../js/common/ecs-env.js"></script>
  <!-- 弹窗 -->
  <script src="../../../lib/miniui/miniui.js"></script>
  <script src="../../../lib/layer/layer.js"></script>
  <script src="../../../lib/vue/vue.min.js"></script>

  <!--页面逻辑-->
  <script src="../../../js/ap/FiremanGo/Feedback.js" type="text/javascript"></script>
</body>

</html>