<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script src="../../../lib/html5shiv/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <title>消息发送</title>
    <meta name="keywords">
    <meta name="description">
    <link rel="stylesheet" href="../../../lib/layui-2.3.0/css/layui.css" />
    <link rel="stylesheet" href="../../../lib/layer/skin/layer.css" />
    <link rel="stylesheet" href="../../../css/common/font.css" />
    <link rel="stylesheet" href="../../../lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../../../css/common/common.css" />
    <link rel="stylesheet" href="../../../lib/miniui/themes/default/miniui.css" />
    <link rel="stylesheet" href="../../../lib/miniui/themes/bootstrap/skin.css" />
    <link rel="stylesheet" href="../../../css/ap/FiremanGo/Index.css" />
</head>

<body>
    <div class="main-content" id="main" v-cloak>
        <div class=" box box-main">

            <div class="box-body" style="height: 900px;">


                <div class="box box-main" style="height:auto;width:100%;float: left;">
                    <div class="search-fixed">
                        <div class="form-group">
                            处警（{{detail.eventAddress}}）
                            <div class="pull-right">
                                <a id="btnSendTask" href="javascript:void(0)" class="btn btn-primary btn-sm mr__5">发送任务单</a>
                                <a id="btnoff" href="javascript:void(0)" onclick="page.logic.closePage()" class="btn btn-primary btn-sm mr__5">事件结束</a>
                                <a id="btnHangup" href="javascript:void(0)" class="btn btn-primary btn-sm mr__5">挂断电话</a>
                                <a id="btnClose" href="javascript:void(0)" class="btn btn-primary btn-sm mr__5">关闭</a>
                            </div>
                        </div>
                    </div>

                    <div class="main-footer__dialog2" style="height: auto;width: 100%;padding: 1px">
                        <div class="tabbable">
                            <!-- Only required for left/right tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">消防调度</a></li>
                                <li><a href="#tab2" data-toggle="tab">案件详情</a></li>
                                <li><a href="#tab3" data-toggle="tab">作战预案</a></li>
                                <li><a href="#tab4" data-toggle="tab">监控视频</a></li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div class="box-body" :height='heigth'>


                                        <div class="mini-splitter" :width='width' :height='heigth'>
                                            <div size="20%" showCollapseButton="true">
                                                <ul id="tree1" class="mini-tree" style="width:260px;height: 100%;" 
                                                    checkOnTextClick="true" checkRecursive="false" allowSelect="true"
                                                    expandOnLoad="true" showTreeIcon="false" showCheckBox="true"
                                                    textField="name" idField="teamId">
                                                </ul>


                                            </div>
                                            <div showCollapseButton="true">
                                                <div class="mini-splitter" vertical="true" showCollapseButton="true"
                                                    style="width:100%;" :height='heigth'>
                                                    <div size="50%" showCollapseButton="false">
                                                        <div style="width: 100%;height: 240px;  overflow: auto">

                                                            <div class="row" v-for="item in items" id="selectCar" style="width: 98%">
                                                                <div class="search-fixed" style="left: 20px;">
                                                                    <div class="form-group" style="left: 20px;">
                                                                        <label style="left: 20px;">{{item.message}}</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4 col-md-3" v-for="car in item.result" >
                                                                    <div class="thumbnail" :id="getElementId('div',car.vehicleId)" :data="setAttr(car)"   @mouseover="mouseover(car.malfunctionEntitys,car.vehicleId)" @mouseleave ="mouseout()">
                                                                        <label :for="car.vehicleId">
                                                                        <img :src="getImgUrl(car.vehicleSmallPicture)" alt="..."  
                                                                            style="width: 100%;height: 80px;">
                                                                        <div class="caption" style="text-align: center">
                                                                            <input :id="car.vehicleId" v-if="car.poactionStatusName=='待命'"  @click="page.logic.check(car.vehicleId)"
                                                                                type="checkbox" :value="returnJson(car)">
                                                                            <span>{{car.vehicleName}}</span>
                                                                            <p v-if="car.poactionStatusName!='待命'">{{car.poactionStatusName}}</p>

                                                                            <p v-if="car.whetherMormal!='正常'" style="color: red">{{car.whetherMormal}}</p>
                                                                            <!-- <p v-if="car.whetherMormal=='异常'" style="color: red">轮胎爆炸</p> -->
                                                                        </div>
                                                                    </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="width: 20%;right: 0px;bottom: 0px;position: absolute; text-align: right;float: right;">
                                                            <a id="btndispatchAll" href="javascript:void(0)" class="btn btn-primary btn-sm">全部调度</a>
                                                            <!-- <a id="btndispatch" href="javascript:void(0)" class="btn btn-primary btn-sm">调度</a> -->
                                                            <a id="btnclearCaar" href="javascript:void(0)" class="btn btn-delete btn-sm">清空已选</a>
                                                        </div>
                                                    </div>
                                                    <div size="50%" showCollapseButton="false">
                                                        <div style="width: 100%;height: 240px; overflow: auto">
                                                            <div class="search-fixed">
                                                                <div class="form-group">
                                                                    <label style="padding-top: 10px">已选车辆</label>
                                                                </div>
                                                            </div>
                                                            <div class="row" id="selectedCar" style="width: 98%">

                                                                <div class="col-sm-5 col-md-2" v-for="car in selectedItem">
                                                                    <div class="thumbnail"   @click="page.logic.canel(car)">
                                                                        <img :src="getImgUrl(car.vehicleSmallPicture)" alt="..."
                                                                            style="width: 160px;height: 80px;">
                                                                        <div class="caption" style="text-align: center">
                                                                            <span><i title="删除" style="color: red"
                                                                                    class="icon-close mr__5" :value="returnJson(car)"
                                                                                  ></i>{{car.vehicleName}}</span>
                                                                            <!-- <span><input type="checkbox" :value="returnJson(car)" @click="page.logic.canel(car)">{{car.vehicleName}}</span> -->
                                                                            <p>{{car.teamName}}</p>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div style="width: 100%;bottom: 0px;position: absolute; text-align: right">
                                                                <a id="btnOrderSend" href="javascript:void(0)" class="btn btn-primary btn-sm">命令下达</a>
                                                                <a id="btnAlarmSend" href="javascript:void(0)" 
                                                                    class="btn btn-primary btn-sm">警情情况电话下达</a>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div style="width: 100%; overflow: auto;" v-bind:style="{'height':heigth}">
                                        <div style="width:95%">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group" >
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">报警时间：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.alarmTime}}</label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">报警电话：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.mobileOrPhone}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">机主姓名：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.userName}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">机主位置：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.ringInstallAddress}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px;">案发位置：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label" style="display: inline;">{{detail.eventAddress}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">案件类型：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.accidentTypeName}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">起火物质：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.fireSubstanceName}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">火势大小：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.fireLvlName}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">是否有人员被困：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.isPersonInName}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">是否有爆炸：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.isExplodeName}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">报警记录：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label" style="display: inline;">{{detail.eventSummary}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">匹配预案：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.planName}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">受理时间：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.initTime}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">立案时间：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.registerTime}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">下达时间：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.commandTime}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">任务单号：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.taskNumber}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" v-for="team in detail.teamEntities">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">{{team.teamName}} :</label>
                                                    </div>
                                                    <label class="control-label col-xs-2">打印时间：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{team.printingTime}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">调度力量：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">人：{{detail.vehicleFullPeoples}}
                                                            车：{{detail.vehicleNumbers}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2" style="text-align: left;font-size: 10px">所派车辆：</label>
                                                    <div class="col-xs-10">
                                                        <label id="mobileOrPhone" class="control-label">{{detail.vehicleNames}}</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab3">
                                    	<form id="searchForm" onsubmit="return false;" class="form-inline">
                                        <div class="form-group">
                                                <label class="control-label width__110">匹配预案：</label>
                                                <div class="control-inline" id="previewName">
                                                   
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                    <a href="#" class="btn btn-primary btn-sm" id="btnOther" title="其它预案"> 其它预案</a>
                                                </div>
                                            </form>
                                    <iframe :src='attrUrl' width='100%' :height='heigth3' frameborder='1'>
                                    </iframe>
                                   
                                </div>
                                <div class="tab-pane" id="tab4">
                                   <iframe id="iframe"  style="width: 100%;height: 500px;" :src="src"></iframe>
                                </div>


                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <iframe style="width:0px; height: 0px; display: none;" id="page_Iframe" ></iframe>
        </div>
    </div>

    <!-- 全局js -->
    <script src="../../../lib/jquery/jquery.min.js"></script>
    <script src="../../../lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- 自定义js -->
    <!-- JQ 表单序列化 -->
    <!--公共js-->
    <script src="../../../js/common/CommonEnum.js"></script>
    <script src="../../../js/common/ecs-util.js"></script>
    <script src="../../../js/common/ecs-env.js"></script>
    <!-- 弹窗 -->
    <script src="../../../lib/miniui/miniui.js"></script>
    <script src="../../../lib/layer/layer.js"></script>
    <script src="../../../lib/vue/vue.min.js"></script>
    <script src="../../../js/common/moment.min.js"></script>

    <!--页面逻辑-->
    <script src="../../../js/ap/FiremanGo/Index.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://10.163.224.111:81/guobozijin/GISQuery/screen2/config.js"></script>

    <script type="text/javascript">
window.onload = function(){
 document.getElementById('page_Iframe').src = iframe_url;
};
</script>

    <script>

    </script>
</body>

</html>