<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>layuiAdmin std - 通用后台管理模板系统（iframe标准版）</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">

  <script>
    /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
  </script>
</head>

<body class="layui-layout-body">
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="http://www.layui.com/admin/" target="_blank" title="前台">
              <i class="layui-icon layui-icon-website"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search"
              layadmin-event="serach" lay-action="template/search.html?keywords=">
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

          <li class="layui-nav-item" lay-unselect>
            <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
              <i class="layui-icon layui-icon-notice"></i>

              <!-- 如果有新消息，则显示小圆点 -->
              <span class="layui-badge-dot"></span>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="theme">
              <i class="layui-icon layui-icon-theme"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="note">
              <i class="layui-icon layui-icon-note"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
              <cite>贤心</cite>
            </a>
            <dl class="layui-nav-child">
              <dd><a lay-href="set/user/info.html">基本资料</a></dd>
              <dd><a lay-href="set/user/password.html">修改密码</a></dd>
              <hr>
              <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
            </dl>
          </li>

          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
          <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
            <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
        </ul>
      </div>

      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="home/console.html">
            <span>layuiAdmin</span>
          </div>

          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
            lay-filter="layadmin-system-side-menu">
            <li data-name="home" class="layui-nav-item layui-nav-itemed">
              <a href="javascript:;" lay-tips="应急值守" lay-direction="2">
                <i class="layui-icon layui-icon-home"></i>
                <cite>应急值守</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="console" class="layui-this">
                  <a lay-href="http://localhost:8014/html/edd/MsgSchedul/IndexShow.html">应急值守展示</a>
                </dd>
                <dd data-name="console">
                  <a lay-href="home/homepage1.html">值班表维护</a>
                </dd>
                <dd data-name="console">
                  <a lay-href="home/homepage2.html">占道维护</a>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i
                class="layui-icon layui-icon-home"></i></li>
          </ul>
        </div>
      </div>


      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="home/console.html" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>

      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>


  <script src="../layuiadmin/layui/layui.js"></script>
  <script src="../../lib/jquery/jquery.min.js"></script>
  <script src="../../lib/layer/layer.js"></script>
  <script>
    jQuery.ET = {
      collection: {},
      Init: function (params) {
        var json;
        if (typeof (params) == "object") {
          if (Object.prototype.toString.call(params).toLowerCase() != "[object object]" && params.length) {
            return [];
          }
          json = params;
        } else if (typeof (params) == "string") {
          json = JSON.parse(params);
          if (!json) return [];
        }
        this.collection = json.collection;
      },
      toObjectArr: function (params) {
        this.Init(params);
        var returnArr = [];
        $(this.collection.items).each(function () {
          var o = {};
          $(this.data).each(function () {
            if ($.trim(this.name).length > 0)
              o[this.name] = this.value;
          });
          $(this.links).each(function () {
            if ($.trim(this.rel).length > 0) o[this.rel] = this.href;
          });
          returnArr.push(o);
        });
        return returnArr;
      },
      getPageInfo: function (params) {
        this.Init(params);
        var returnArr = [];
        $(this.collection.page).each(function () {
          var o = {};
          $(this.data).each(function () {
            if ($.trim(this.name).length > 0)
              o[this.name] = this.value;
          });
          returnArr.push(o);
        });
        return returnArr;
      },
      toCollectionJson: function (_object) {
        var json = {
          "collection": {
            "templates": [{
              "data": []
            }]
          }
        };
        for (var item in _object) {
          json.collection.templates[0].data.push({ "name": item, "value": _object[item] });
        }
        return json;
      },
      getObjectTemplate: function (params) {
        var o = {};
        if (this.collection.hasOwnProperty("templates")) {
          $(this.collection.templates[0].data).each(function () {
            if ($.trim(this.name).length > 0)
              o[this.name] = this.value;
          });
          return o;
        }
        this.Init(params);
        return this.getObjectTemplate();
      }
    };
  </script>

  <script>
    layui.config({
      base: '../layuiadmin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use('index');

    //http://10.238.255.101:32578/OrgAndUserService/
    //http://10.238.255.101:31801/ResourceService/
    //http://10.238.255.101:32109/AuthService/apps?userCode=ecsadmin

    //http://10.238.255.101:31801/ResourceService/apps/:app/properties/:property/propertyValues?userCode=:userCode
    //http://10.238.255.101:31801/ResourceService/apps/ECS_DEV/properties/ECS_DEV_fjcs/propertyValues?userCode=ecsadmin

    var appCode = 'ECS_DEV';
    var propertyCode = 'ECS_DEV_fjcs';
    $.ajax({
      type: "GET",
      url: 'http://10.238.255.101:31801/ResourceService/apps/' + appCode + '/properties/' + propertyCode + '/propertyValues',
      data: {},
      contentType: "application/json;charset=utf-8",
      dataType: "text",
      async: true,
      success: function (res) {
        $('#LAY-system-side-menu').html('');
        if (res != '') {
          var info = $.ET.toObjectArr(res);
          $(info).each(function (i, item) {
            for (var i = 0, len = info.length; i < len; i++) {
              info[i].sub = [];
              for (var j = 0; j < len - 1; j++) {
                if (info[i].sourceId == info[j + 1].parentId) {
                  info[i].sub.push(info[j + 1]);
                }
              }
            }
          });
        }
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        layer.msg("获取菜单失败");
      }
    });

    function getMenu(info) {
      if (info.sub.length == 0) {
        if (info.parentId == '') {
          return '<li data-name="home" class="layui-nav-item layui-nav-itemed">' +
            '<a href="javascript:;" lay-tips="应急值守" lay-direction="2">' +
            '<i class="layui-icon layui-icon-home"></i>' +
            '<cite>应急值守</cite></a></li>';
        }
        else {
          return '<dd data-name="console"><a>test</a></dd>';
        }
      }
      else {
        var html = '';
        for (var i = 0, len = info.sub.length; i < len; i++) {
          html += getMenu(info.sub[i]);
        }
        return '<dl class="layui-nav-child">' + html + '</dl>';
      }
    }

    // <li data-name="home" class="layui-nav-item layui-nav-itemed">
    //   <a href="javascript:;" lay-tips="应急值守" lay-direction="2">
    //     <i class="layui-icon layui-icon-home"></i>
    //     <cite>应急值守</cite>
    //   </a>
    //   <dl class="layui-nav-child">
    //     <dd data-name="console" class="layui-this">
    //       <a lay-href="http://localhost:8014/html/edd/MsgSchedul/IndexShow.html">应急值守展示</a>
    //     </dd>
    //   </dl>
    // </li>

  </script>
</body>

</html>