#addNewName,.delName{
    width: auto;
    height: 28px;
    padding: 3px 6px;
}
.delName{
    margin-left: 14px;
}
.form-groups{
    margin-left: -15px;
    margin-right: -25px;
    margin-bottom: 15px;
}