.layui-layer-iframe{
    background-color:#dde6ea!important;
}
.new-class .layui-layer-title{
    border-radius: 4px;
    padding: 0px;
    box-shadow: 1px 2px 5px #888888;
    margin: 14px;
    height: 45px;
    line-height: 45px;
    background: #ecf2f5;
}
.layui-layer-setwin{
    right: 30px!important;
    top: 30px!important;
}
.title{
    font-weight: bold;
    border-bottom:1px solid #ccc;
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 20px;
}
.box-header i{
    line-height: 45px;
    cursor: pointer;
}
.form-horizontal .row{
    margin: 0 5px 0 -15px;
}
.remark{
    text-align: left!important;
    width:calc(83.333333% + 45px);
}
.address{
    width:calc(91.66666667% - 20px);
}
#feedback,
#alarm{
    width: auto!important;
    margin:0 15px;
}
#alarm{
    margin-bottom: 20px;
}
#infoList{
    position: relative;
}
#infoList:hover{
    cursor: pointer;
}
#nav_submenu{
    display: none;
    position: absolute;
    right: -30px;
    top: 18px;
    color: #000;
    font-size: 12px;
    line-height: 25px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 999;
}
#nav_submenu li{
    width: 90px;
    overflow: hidden;
    text-align: center;
    padding: 0 5px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}
#nav_submenu li:last-child{
    border-bottom: 0;
}
#nav_submenu li:hover{
    color: #a94442;
    cursor: pointer;
}
#btnStart{
    width: auto;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color: #2680EB;
    border:1px solid #2680EB;
    border-bottom-color:transparent;
}
.nav-tabs > li > a{
    color: #555555;
}
.nav-tabs{
    border-bottom: 1px solid #2680EB;
}